.super-mario{
    position: absolute;
    z-index: 2;  
    
}

.goomba{
    position: absolute;
    z-index: 1;
    
}

.baloon{
    position: absolute;
    z-index: 4;
    top: 1700px;
    
}

.bowser{
    position: absolute;
    z-index: 3;
    top: 1800px;
    
}

.word{
    position: absolute;
    z-index: 5;
    left: 70px;
    top: 1750px;

}