div:hover{
    border:2px solid rgb(1, 1, 245);
}

.div1:hover{
    background-color: rgb(165, 42, 42);
}
.div2:hover{
    background-color:rgb(161, 240, 42) ;
}
.div3:hover{
    background-color: rgb(202, 24, 24);
}
.div4:hover{
    background-color: rgb(39, 199, 211);
}
.div5:hover{
    background-color: rgb(202, 221, 29);
}

.h3-style1{
    color:rgb(38, 226, 38)
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.h3-style2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-weight: bolder;
}
.h3-style3{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-weight: bolder;
}
.h3-style4{
    font-family:fantasy;
    font-weight: bolder;
}
.h3-style5{
    font-family:monospace
    font-weight: bolder;
}